<form class="container bg-white p-md-5 p-4 border border-light rounded m-auto row justify-content-center" [formGroup]="volunteerForm" (ngSubmit)="registerVolunteer(volunteerForm.value)" style="width: 500px;">
    <h2 class="text-primary mb-4 mx-auto">Become a Volunteer</h2>
    <hr>
    <input class="form-control mb-4" type="text" formControlName="vName" id="vName" placeholder="Name">  
    
    <input class="form-control mb-4" type="email" formControlName="vEmailId" id="vEmailId" placeholder="Email">

    <input class="form-control mb-4" type="text" formControlName="vMobileNo" id="vMobileNo" placeholder="Mobile No.">
    
    <textarea class="form-control mb-4" formControlName="vAddress" id="vAddress" cols="22" rows="5"></textarea>

    <input class="btn btn-primary" type="submit" value="Submit">
</form>