<h1>{{title}}</h1>

<form [formGroup]="volunteerForm" (ngSubmit)="registerVolunteer(volunteerForm.value)">

    Value : {{ volunteerForm.value | json }}

    <hr>

    <mat-form-field>
        <input matInput type="text" formControlName="vName" id="vName" placeholder="Name">
    </mat-form-field>

    <mat-form-field>
        <input matInput type="email" formControlName="vEmailId" id="vEmailId" placeholder="Email">
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" formControlName="vMobileNo" id="vMobileNo" placeholder="Mobile No.">
    </mat-form-field>
    
    <mat-form-field>
        <textarea matInput formControlName="vAddress" id="vAddress" cols="22" rows="5"></textarea>
        
        
    </mat-form-field>

    <input type="submit" value="Submit">
</form>

<!-- <form action="http://localhost:9090/api/post/volunteer" name="volunteer" method="post">
    <input type="text" name="name" id="name" placeholder="Name"><br><br>
    <input type="email" name="email" id="email" placeholder="Email"><br><br>
    <input type="text" name="mobile" id="mobile" placeholder="Mobile No."><br><br>
    <textarea name="address" id="address" cols="22" rows="5"></textarea><br><br>
    <input type="submit" value="Submit">
</form> -->
<!-- 
<h3>{{volunteer.name}}</h3>
<h3>{{volunteer.email}}</h3>
<h3>{{volunteer.mobile}}</h3>
<h3>{{volunteer.address}}</h3> -->